@charset "UTF-8";
button {
  color: rgb(255, 56, 0);
  background-color: rgb(255, 56, 0);
  border: 2px, solid;
  border-style: ridge;
  border-color: rgb(255, 19, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 16px;
  cursor: help;
  text-color: rgb(242, 197, 16);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow - x: hidden;
  height: 100%;
}
